<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">
    <link rel="stylesheet" href="Style/cart.css">
</head>
<body>
    <header style="margin-bottom: 90px;" class="mb20"> 
        <nav class="flex jcb">
            <ul class="navbar first">
                <li class="li"><a href="buyblazer">BUY BLAZER</a></li>
                <li class="li"><a href="women">WOMEN</a></li>
                <li class="li"><a href="men">MEN</a></li>
                <li class="li"><a href="about">ABOUT</a></li>
                <li class="li"><a href="contact">CONTACT</a></li>
            </ul>
            <ul class="navbar center_logo"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
            <ul class="navbar second">
                <% if(locals.profile) { %>
                <li class="li"><b>
                    <% if(locals.file == "") { %>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                    <%} else {%>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                    <%} %>
                </b></li>                
                <li class="li"><b><a href="cart">$<%= locals.ct %>.00 
                    <% if(locals.cc > 0) {%>
                        <b class="cc"><%= locals.cc %></b>
                    <%}%>
                    </a></b></li>
                <% } else { %>
                    <li class="li"><b></b></li>
                    <li class="li"><b></b></li>
                <% } %>
                <% if( locals.action == "LOG IN" ){ %>
                <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                <% } else { %>
                <li class="li"><b>
                    <form method="post" action="/logout">
                        <button type="submit" class="logout"><%= locals.action %></button>
                    </form>
                </b></li>
                <% } %>
            </ul>
        </nav>
        <nav class="snavbar">
            <ul class="center_logo"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
            <img id="menu" onclick="open_nav()" src="svg/menu-outline.svg" alt="MENU">
            <img id="close" onclick="close_nav()" src="svg/close-outline.svg" alt="CLOSE">
            <div id="fullnav">
                <ul class="fullnav_inside flex jcc f-c">
                    <li><a href="buyblazer">BUY BLAZER</a></li><hr>
                    <li><a href="women">WOMEN</a></li><hr>
                    <li><a href="men">MEN</a></li><hr>
                    <li><a href="about">ABOUT</a></li><hr>
                    <li><a href="contact">CONTACT</a></li><hr>
                    <% if(locals.profile) { %>
                    <li class="li"><b>
                        <% if(locals.file == "") { %>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                        <%} else {%>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                        <%} %>
                    </b></li><hr>
                    <li class="li"><b><a href="cart">$<%= locals.ct %>.00 
                        <% if(locals.cc > 0) {%>
                            <b class="cc"><%= locals.cc %></b>
                        <%}%>
                    </a></b></li>
                    <hr>
                    <% }  %>
                    <% if( locals.action == "LOG IN" ){ %>
                    <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                    <% } else { %>
                    <li class="li"><b>
                        <form method="post" action="/logout">
                            <button type="submit" class="logout"><%= locals.action %></button>
                        </form>
                    </b></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <hr class="o5">
    </header>
    <main>
        <div class="xx f2" style="margin-left: 12.5%; margin-bottom: 50px;">
            Cart
        </div>
    
        <div class="n596">
            <li class="f2 flex jcc aic">
                <ul class="list">1. SHOPPING CART</ul> <div class="arrow"> > </div>
                <ul class="listwith"><a href="checkout">2. CHECKOUT DETAILS</a></ul> <div class="arrow"> > </div>
                <ul class="listwith">3. ORDER COMPLETE</ul>
            </li>
        </div>
    
        <div>
            <table class="f2 one_table n596">
                <thead style="margin-bottom: 20px;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Product</th>
                        <th>Prize</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(locals.itam.length > 0) {%>
                        <tr style="height: 6px;" ></tr><td></td></tr>
                    <%}%>
                    <% var total = 0; %>
                    <% for (var i = 0; i <locals.itam.length; i++) { %>
                        <tr style="text-align: center;">
                            <td><form method="post"><button class="cancle_btn" type="submit" name="id" value="<%= locals.itam[i]._id %>">X</button></form></td>
                            <td><img class="cart_img" src="<%= locals.itam[i].path %>" alt="blazer"></td>
                            <% if(locals.itam[i].gender) {%>
                                <td>Men</td>
                            <% } else { %>
                                <td>Women</td>
                            <%}%>
                            <td>$<%= locals.itam[i].prize %>.00</td>
                            <td><%= locals.itam[i].quantity %></td>
                            <td>$<%= locals.itam[i].prize * locals.itam[i].quantity %>.00</td>
                            <% total +=  (locals.itam[i].prize * locals.itam[i].quantity) %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <table class="f2 one_table d596">
                <thead style="margin-bottom: 20px;">
                    <tr>
                        <th colspan="2"></th>
                        <th colspan="2">Details</th>
                    </tr>
                </thead>
                <tbody style="font-size: 13.5px;">
                    <% if(locals.itam.length > 0) {%>
                        <tr style="height: 6px;" ></tr><td></td></tr>
                    <%}%>
                    <% var total = 0; %>
                    <% for (var i = 0; i <locals.itam.length; i++) { %>
                        <tr style="text-align: center;">
                            <td rowspan="4"><form method="post"><button class="cancle_btn" type="submit" name="id" value="<%= locals.itam[i]._id %>">X</button></form></td>
                            <td rowspan="4"><img class="cart_img" src="<%= locals.itam[i].path %>" alt="blazer"></td>
                            <td> <b>Product :</b></td>
                            <% if(locals.itam[i].gender) {%>
                                <td>Men</td>
                            <% } else { %>
                                <td>Women</td>
                            <%}%>
                        </tr>
                        <tr style="text-align: center;">
                            <td><b>Prize :</b></td>
                            <td>$<%= locals.itam[i].prize %>.00</td>
                        </tr>
                        <tr style="text-align: center;">
                            <td><b>Quantity :</b></td>
                            <td><%= locals.itam[i].quantity %></td>
                        </tr>
                        <tr style="text-align: center;">
                            <td><b>Subtotal :</b></td>
                            <td>$<%= locals.itam[i].prize * locals.itam[i].quantity %>.00</td>
                        </tr>
                        <% if(locals.itam.length-1 > i ) {%>
                            <tr><td colspan="4"><hr></td></tr>
                            <tr style="height: 6px;" ></tr><td></td></tr>
                        <%}%>
                        <% total +=  (locals.itam[i].prize * locals.itam[i].quantity) %>
                    <% } %>
                </tbody>
            </table>
            <table class="f2 two_table">
                <thead style="margin-bottom: 20px;">
                    <tr>
                        <th colspan="2">Cart totals</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 6px;" ></tr><td></td></tr>
                    <tr>
                        <td>Total</td>
                        <td>$<%= total %>.00</td>
                    </tr>
                    <tr style="height: 6px;" ></tr><td></td></tr>
                </tbody>
                <tfoot>
                    <tr>
                       <td colspan="2"><hr></td>
                    </tr>
                    <tr style="height: 6px;" ></tr><td></td></tr>
                    <tr>
                        <td colspan="2"><button onclick="checkout()" class="pro_btn">Proceed to checkout</button></td>
                    </tr>
                    <tr style="height: 6px;" ></tr><td></td></tr>
                </tfoot>
            </table>
        </div>

    </main>
    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">
                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY BLAZER</li></a>
                        <li> <a class="hover o7" href="women">WOMEN</li></a>
                        <li> <a class="hover o7" href="men">MEN</li></a>
                        <li> <a class="hover o7" href="about">ABOUT</li></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
<script src="JavaScript/script.js"></script>
<script>
    const checkout= () => {
        window.location.href = "checkout"; 
    }
</script>
</html>