<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkOut</title>
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">    
    <link rel="stylesheet" href="Style/cart.css">
</head>
<body>
    <header style="margin-bottom: 90px;" class="mb20"> 
        <nav class="flex jcb">
            <ul class="navbar first">
                <li class="li"><a href="buyblazer">BUY BLAZER</a></li>
                <li class="li"><a href="women">WOMEN</a></li>
                <li class="li"><a href="men">MEN</a></li>
                <li class="li"><a href="about">ABOUT</a></li>
                <li class="li"><a href="contact">CONTACT</a></li>
            </ul>
            <ul class="navbar center_logo"><a href="/"><img class="logo" src="https://i.imgur.com/aiWlS3g.png alt="P SHOPPING POINT" srcset=""></a></ul>
            <ul class="navbar second">
                <% if(locals.profile) { %>
                <li class="li"><b>
                    <% if(locals.file == "") { %>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                    <%} else {%>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                    <%} %>
                </b></li>
                <li class="li"><b><a href="cart">$<%= locals.ct %>.00 
                    <% if(locals.cc > 0) {%>
                        <b class="cc"><%= locals.cc %></b>
                    <%}%>
                </a></b></li>
                <% } else { %>
                    <li class="li"><b></b></li>
                    <li class="li"><b></b></li>
                <% } %>
                <% if( locals.action == "LOG IN" ){ %>
                <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                <% } else { %>
                <li class="li"><b>
                    <form method="post" action="/logout">
                        <button type="submit" class="logout"><%= locals.action %></button>
                    </form>
                </b></li>
                <% } %>
            </ul>
        </nav>
        <nav class="snavbar">
            <ul class="center_logo"><a href="/"><img class="logo" src="https://i.imgur.com/aiWlS3g.png alt="P SHOPPING POINT" srcset=""></a></ul>
            <img id="menu" onclick="open_nav()" src="svg/menu-outline.svg" alt="MENU">
            <img id="close" onclick="close_nav()" src="svg/close-outline.svg" alt="CLOSE">
            <div id="fullnav">
                <ul class="fullnav_inside flex jcc f-c">
                    <li><a href="buyblazer">BUY BLAZER</a></li><hr>
                    <li><a href="women">WOMEN</a></li><hr>
                    <li><a href="men">MEN</a></li><hr>
                    <li><a href="about">ABOUT</a></li><hr>
                    <li><a href="contact">CONTACT</a></li><hr>
                    <% if(locals.profile) { %>
                    <li class="li"><b>
                        <% if(locals.file == "") { %>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                        <%} else {%>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                        <%} %>
                    </b></li><hr>
                    <li class="li"><b><a href="cart">$<%= locals.ct %>.00 
                        <% if(locals.cc > 0) {%>
                            <b class="cc"><%= locals.cc %></b>
                        <%}%>
                    </a></b></li>
                    <hr>
                    <% }  %>
                    <% if( locals.action == "LOG IN" ){ %>
                    <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                    <% } else { %>
                    <li class="li"><b>
                        <form method="post" action="/logout">
                            <button type="submit" class="logout"><%= locals.action %></button>
                        </form>
                    </b></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <hr class="o5">
    </header>
    
    <main>

        <div class="xx f2" style="margin-left: 12.5%; margin-bottom: 50px;">
            Checkout
        </div>
    
        <div class="n596" style="margin-bottom: 20px;">
            <li class="f2 flex jcc aic">
                <ul class="listwith"><a href="cart">1. SHOPPING CART</a></ul> <div class="arrow"> > </div>
                <ul class="list"><a href="checkout">2. CHECKOUT DETAILS</a></ul> <div class="arrow"> > </div>
                <ul class="listwith">3. ORDER COMPLETE</ul>
            </li>
        </div>
    
        <div class="flex aic jcc f2" style="margin-bottom: 50px;">
            <form class="form" method="post">
                <div>
                    <div style="margin-bottom: 20px;">
                        <b style="border-bottom: 2px solid black;">Customer information</b>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input class="w1 p" type="Email" name="email" required placeholder="Email address *">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <b style="border-bottom: 2px solid black;">Billing details</b>
                    </div>
                    <div style="margin-bottom: 20px; text-align: center;">
                        <input class="w2 p" type="text" name="fname" required placeholder="First name *">             
                        <input class="w2 p" placeholder="Last name *" type="text" name="lname" required >
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input class="w1 p" type="text" name="cname" placeholder="Company name">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input class="w1 p" type="text" name="address" placeholder="Address *">
                    </div>
                    <select name="country" required class="country w1 p" style="margin-bottom: 20px;" onchange="loadState()">
                        <option selected disabled="disabled">--Select country--</option>
                    </select>
                    <div style="margin-bottom: 20px;">
                        <input class="w3 p" type="text" name="city" required placeholder="Town / City *">
                        <select name="state" required class="state w3 p">
                            <option selected disabled="disabled">--Select state--</option>
                        </select>
                        <input class="w3 p" placeholder="ZIP Code *" type="tel"  pattern="[0-9]+" name="zip" required >
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input class="w1 p" type="tel"  pattern="[0-9]+" required name="phone" placeholder="Mobile Number *">
                    </div>
                    <div style="margin-bottom: 20px;">
                        <b style="border-bottom: 2px solid black;">Additional information</b>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input class="w1 p" type="text" name="note" placeholder="Notes about your order, e.g. special notes for delivery.">
                    </div>
                    <button class="pro_btn" style="width: 570px;">Place Order $<%= locals.ct %>.00</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">
                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY BLAZER</li></a>
                        <li> <a class="hover o7" href="women">WOMEN</li></a>
                        <li> <a class="hover o7" href="men">MEN</li></a>
                        <li> <a class="hover o7" href="about">ABOUT</li></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
<script src="JavaScript/script.js"></script>
<script>
    let config = {
        cUrl : "https://api.countrystatecity.in/v1/countries",
        cKey: "T0k2S0tqcWtsSDdTeURUcWJ4OUJlV1N2WlBqaURFZlU5TnpLdkF5eQ=="
    }

    let country = document.querySelector(".country"),
        state = document.querySelector(".state")


    const loadCountry = () => {
        let apiEndPoint = config.cUrl

        fetch(apiEndPoint, {headers : {"X-CSCAPI-KEY" : config.cKey}}).
        then(res => res.json()).
        then(data => {
            data.forEach(ctry => {
                const option = document.createElement("option")
                option.value = ctry.iso2
                option.textContent = ctry.name
                country.appendChild(option);

            });
        }).
        catch(err => console.error(err));
    }

    const loadState = () => {
        const countryCode = country.value
        state.innerHTML = `<option selected disabled="disabled">--Select state--</option>`

        fetch(`${config.cUrl}/${countryCode}/states`, {headers : {"X-CSCAPI-KEY" : config.cKey}}).
        then(res => res.json()).
        then(data => {
            data.forEach(st => {
                const option = document.createElement("option")
                option.value = st.iso2
                option.textContent = st.name
                state.appendChild(option);

            });
        }).
        catch(err => console.error(err));

    }

    window.onload = loadCountry
</script>
</html>