<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://i.imgur.com/MYHCzRe.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">
    <link rel="stylesheet" href="Style/loginstyle.css">
</head>
<body>
    <header>
        <nav class="flex aic jcc">
            <ul class="navbar_login"><a href="/"><img class="logo" src="https://i.imgur.com/aiWlS3g.png alt="P SHOPPING POINT" srcset=""></a></ul>
        </nav> 
    </header>
    <hr class="o5">
    <main>
        <main class="flex aic jcc f-c f2">
            <div class="box" style="margin-bottom: -50px; padding-bottom: 0px;">
                <div class="inner_box">
                    <div class="abnormal m-18-0">
                        Recover Password
                    </div>
                    <div class="m-18-0" style="font-size: 14px;">
                        To recover the password for your account, please provide us the account details.
                    </div>
                    <div class="normal m-18-0">
                        <div class="m-2 emailText">
                            <form action="/forgotPassword" method="post"> 
                                <div class="normal m-18-0">
                                    <div class="m-2" style="font-size: 13.3333px;">
                                        Email   <% if(locals.OTPmessage==="OTP Sent Successfully") {%>
                                                    : <%= locals.email %>
                                                <% } %> <br>
                                        </div>
                                        <% if(!locals.OTPmessage || locals.OTPmessage=="Email is invalid") {%>
                                            <input style="width: 460px; padding: 7px;" type="email" required name="email" placeholder="Email">
                                        <%}%>
                                        <div>
                                    </div>
                                </div>
                                <% if(locals.OTPmessage==="OTP Sent Successfully") {%>
                                    <div class="flex">
                                        <button class="otpButton or" style="display: none;" name="<%= locals.email %>" type="submit">Resend OTP</button>
                                        <% if(locals.OTPmessage==="OTP Sent Successfully") {%>
                                            <% if(locals.message){ %>
                                                <script>document.querySelector(".or").style.display = "block";</script>
                                            <%} else {%>
                                                <div class="du">Resend OTP</div>
                                                <div style="margin-left: 5px;" class="after">After</div>
                                                <div class="timer" style="margin-left: 5px;"></div>
                                                <script>
                                                    const timer = document.querySelector(".timer");
                                                    const currTime = Date.now()
                                                    let display_time = 50;
                                                    timer.innerText = display_time +" seconds";
                                                    const otpTimer = setInterval(()=>{ 
                                                        display_time  = 50 -  Math.floor((Date.now()-currTime)/1000)
                                                        timer.innerText = display_time +" seconds";
                                                        if(display_time==-1){
                                                            clearInterval(otpTimer);
                                                            document.querySelector(".du").style.display = "none";
                                                            document.querySelector(".or").style.display = "block";
                                                            document.querySelector(".after").style.display = "none";
                                                            timer.style.display = "none";
                                                        }
                                                    },1000)
                                                </script>
                                            <%}%>
                                        <%}%>
                                    </div>
                                <%} else{%>
                                    <button class="otpButton" type="submit" >Send OTP</button>
                                <%}%>
                            </form>
                            <% if(locals.OTPmessage==="Email is invalid") {%>
                                <div class="time" style="color: red; margin-bottom: 0px; font-size: 13px;"><%= locals.OTPmessage %></div>
                            <%} else if(locals.OTPmessage==="OTP Sent Successfully") {%>
                                <div class="time" style="color: green; margin-bottom: 0px; font-size: 13px;"><%= locals.OTPmessage %></div>
                            <%} %>
                        </div>
                    </div>
                </div>
            </div>
            <form class="box addbox" method="post">
                <div class="inner_box">
                    <div class="normal m-18-0">
                        <% if(locals.OTPmessage==="OTP Sent Successfully") { %>
                            <div class="m-2">
                                OTP<br>
                            </div>
                            <div class="sendOTP">
                                <input style="width: 460px; padding: 7px;" type="text" name="otp" minlength="6" maxlength="6">
                            </div>
                        <%}%>
                    </div>
                    <div class="special" style="margin: 18px 0px 0px 0px;">
                        <% if(locals.OTPmessage==="OTP Sent Successfully") { %>
                            <button class="Verify_btn" type="submit" name="<%= locals.email %>">Verify</button>
                        <%}%>
                    </div>
                    <% if(locals.message) {%>
                    <div class="time bottom"><%= locals.message %></div>
                    <%}%>
                </div>
            </form>
        </main>
    </main>
    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">
                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY BLAZER</li></a>
                        <li> <a class="hover o7" href="women">WOMEN</li></a>
                        <li> <a class="hover o7" href="men">MEN</li></a>
                        <li> <a class="hover o7" href="about">ABOUT</li></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
</html>