<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P Shopping Point</title>
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">
</head>
<body>
    <header style="margin-bottom: 90px;" class="mb20"> 
        <nav class="flex jcb">
            <ul class="navbar first">
                <li class="li"><a href="buyblazer">BUY BLAZER</a></li>
                <li class="li"><a href="women">WOMEN</a></li>
                <li class="li"><a href="men">MEN</a></li>
                <li class="li"><a href="about">ABOUT</a></li>
                <li class="li"><a href="contact">CONTACT</a></li>
            </ul>
            <ul class="navbar center_logo"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
            <ul class="navbar second">
                <% if(locals.profile) { %>
                <li class="li"><b>
                    <% if(locals.file == "") { %>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                    <%} else {%>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                    <%} %>
                </b></li>
                <li class="li"><b>$0.00</b></li>
                <% } else { %>
                    <li class="li"><b></b></li>
                    <li class="li"><b></b></li>
                <% } %>
                <% if( locals.action == "LOG IN" ){ %>
                <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                <% } else { %>
                <li class="li"><b>
                    <form method="post" action="/logout">
                        <button type="submit" class="logout"><%= locals.action %></button>
                    </form>
                </b></li>
                <% } %>
            </ul>
        </nav>
        <nav class="snavbar">
            <ul class="center_logo"><a href="/"><img class="logo" src="Photo/Screenshot 2023-10-22 092706.png" alt="P SHOPPING POINT" srcset=""></a></ul>
            <img id="menu" onclick="open_nav()" src="svg/menu-outline.svg" alt="MENU">
            <img id="close" onclick="close_nav()" src="svg/close-outline.svg" alt="CLOSE">
            <div id="fullnav">
                <ul class="fullnav_inside flex jcc f-c">
                    <li><a href="buyblazer">BUY BLAZER</a></li><hr>
                    <li><a href="women">WOMEN</a></li><hr>
                    <li><a href="men">MEN</a></li><hr>
                    <li><a href="about">ABOUT</a></li><hr>
                    <li><a href="contact">CONTACT</a></li><hr>
                    <% if(locals.profile) { %>
                    <li class="li"><b>
                        <% if(locals.file == "") { %>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                        <%} else {%>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                        <%} %>
                    </b></li><hr>
                    <li class="li"><b>$0.00</b></li><hr>
                    <% }  %>
                    <% if( locals.action == "LOG IN" ){ %>
                    <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                    <% } else { %>
                    <li class="li"><b>
                        <form method="post" action="/logout">
                            <button type="submit" class="logout"><%= locals.action %></button>
                        </form>
                    </b></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <div class="flex nav_extand">
            <div class="right f-c aic jcc niv775">
                <div class="flex f-c">
                    <span class="small f1">MEN</span>
                    <span class="big f2 m-">Slick. Modern.</span>
                    <span class="big f2">Awesome.</span>
                    <button class="Shop_Collection_btn buyblazer f2" style="width: 157px;">Shop Collection</button>
                </div>
            </div>
            <div class="right f-c aic jcc nv775" style="margin-top: 50px;">
                <span class="small f1">MEN</span>
                <span class="xx fb f2 aic niv450" style="margin-top: -5px;">Slick. Modern. Awesome.</span>
                <div class="aic f-c nv450">
                    <div class="xx fb f2" style="margin-bottom: -10px;">Slick. Modern.</div>
                    <div class="xx fb f2">Awesome.</div>
                </div>
                <button class="Shop_Collection_btn buyblazer f2" style="width: 157px;">Shop Collection</button>
            </div>
            <div class="left">
                <img class="model_img"src="Photo/model-removebg-preview.png" alt="Model">
            </div>
        </div>
    </header>
    <main>
        <div>
            <div class="flex f-c aic jcc">
                <div class="f1 small">SUMMER COLLECTION</div>
                <div class="f2 big">Popular Blazer</div>
            </div>
            <div class="flex aic f-c">
                <div class="flex mtb50 jcb inmb25 w1137">
                    <div class="product_class inwm24">
                        <div class="befor-hover" >
                            <a href="product" onclick="product_show(0)">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/1f.jpg" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/1b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(0)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="product_class inwm24">
                        <div class="befor-hover" onclick="product_show(1)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/2w.avif" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/2w.avif" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">WOMEN</div>
                            <div class="bige f2" onclick="product_show(1)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="product_class inwm24 iniv700">
                        <div class="befor-hover" onclick="product_show(2)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/4f.jpg" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/4b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(2)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="product_class inwm24 iniv700">
                        <div class="befor-hover" onclick="product_show(3)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/3w.jpg" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/3w.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">WOMEN</div>
                            <div class="bige f2" onclick="product_show(3)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                </div>
                <div class="mtb50 jcb inv700 w1137">
                    <div class="product_class inwm24">
                        <div class="befor-hover" onclick="product_show(4)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/4f.jpg" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/4b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(4)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="product_class inwm24">
                        <div class="befor-hover" onclick="product_show(5)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/3w.jpg" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/3w.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">WOMEN</div>
                            <div class="bige f2" onclick="product_show(5)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex jcc">
                <div class="flex mtb50 jcb bsi851 w1137">
                    <div class="flex f-c" style="width:49.25%;">
                        <img   src="Photo/small mp.jpg" alt="">
                        <div class="flex f-c jcc aic tac" style="height: 100%;">
                            <span class="small f1">MEN</span>
                            <span class="xx fb f2" style="line-height: 35px;padding: 0px 0px 9px 0px;">The base collection - Ideal every day.</span>
                            <button class="Shop_Collection_btn buyblazer f2">Shop Now</button>
                        </div>
                    </div>
                    <img style="width: 49.25%;" src="Photo/big mp.jpg" alt="">
                </div>
            </div>
            <div class="flex jcc mtb50 m0">
                <div class="container">
                    <div class="flex dullbc f-c aic jcc">
                        <span class="small f1">MEN</span>
                        <span class="fb f2 f36" style="line-height: 49.4px;">Be different in your own way!</span>
                        <span class="fb f2 f22" style="margin: 0px 0px 15px 0px;">Find your unique style.</span>
                        <button class="Shop_Collection_btn buyblazer f2">Shop Collection</button>
                    </div>
                </div>
            </div>
            <div style="margin: 150px 3% 50px 3%;" class="imv767">
                <div class="bcnew flex jcc">
                    <div style="width: 1139.58px;" class="flex aic">
                        <img style="width: 46%;padding: 0px 4% 0px 0px; margin:-50px 4% 50px 0px;"   src="Photo/woman-1.jpg" alt="">
                        <div style="width: 50%;" class="flex f-c">
                            <span class="f2 f14">WOMEN</span>
                            <span class="f2 f36 fb">Spring Summer Collection</span>
                            <span class="f2 f14" style="margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id leo tempor, congue justo at, lobortis orci. Aliquam venenatis dui lectus, eu convallis turpis convallis et. Pellentesque.</span>
                            <button class="Shop_Collection_btn buyblazer f2" style="width: 197.06px;">See whole Collection</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 20px 3% 50px 3%;" class="mv767">
                <div style="width: 1139.58px;" class="f-c flex">
                    <div class="bcnew flex jcc">
                        <div style="width: 50%;" class="flex f-c">
                            <span class="f2 f14">WOMEN</span>
                            <span class="f2 f36 fb">Spring Summer Collection</span>
                            <span class="f2 f14" style="margin-bottom: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id leo tempor, congue justo at, lobortis orci. Aliquam venenatis dui lectus, eu convallis turpis convallis et. Pellentesque.</span>
                            <button class="Shop_Collection_btn buyblazer f2" style="width: 197.06px;">See whole Collection</button>
                        </div>
                    </div>                
                    <img style="width: 46%;padding: 0px 4% 0px 0px; margin:-50px 4% 50px 0px;" src="Photo/woman-1.jpg" alt="">
                </div>
            </div>
            <div class="flex f-c aic jcc">
                <div class="f1 small">SUMMER COLLECTION</div>
                <div class="f2 big">On Sale Blazer</div>
            </div>
            <div class="flex aic f-c">
                <div class="flex mtb50 jcb inmb25 w1137">
                    <div class="product_class inwm24">
                        <div class="befor-hover" onclick="product_show(6)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/2w.avif" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/2w.avif" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">WOMEN</div>
                            <div class="bige f2" onclick="product_show(6)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="product_class inwm24">
                        <div class="befor-hover" onclick="product_show(7)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/2f.jpg" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/2b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(7)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="product_class inwm24 iniv700">
                        <div class="befor-hover" onclick="product_show(8)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/1w.avif" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/1w.avif" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">WOMEN</div>
                            <div class="bige f2" onclick="product_show(8)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="product_class inwm24 iniv700">
                        <div class="befor-hover" onclick="product_show(9)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/3f.jpg" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/3b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(9)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                </div>
                <div class="inv700 mtb50 jcb w1137">
                    <div class="product_class inwm24">
                        <div class="befor-hover" onclick="product_show(10)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/1w.avif" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/1w.avif" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">WOMEN</div>
                            <div class="bige f2" onclick="product_show(10)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                    <div class="product_class inwm24">
                        <div class="befor-hover" onclick="product_show(11)">
                            <a href="product">
                                <img style="margin: 0px 0px -4px 0px;" src="Photo/3f.jpg" alt="IMG">
                                <img class="show-oh-hover" style="margin: 0px 0px -4px 0px;" src="Photo/3b.jpg" alt="IMG">   
                            </a>
                        </div>
                        <div class="ml15">
                            <div class="smalle f1 o7">MEN</div>
                            <div class="bige f2" onclick="product_show(11)"><a href="product">Formal Blazer</a></div>
                            <div class="prize_font f2">$33.00 – $36.00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex jcb w1137 btwoc" style="margin: 0px auto 64.8px auto;">
                <div class="btwo bm20">
                    <img style="width: 100%; margin-bottom: -4px" onclick="openmen()" src="Photo/men.jpg" alt="MEN">
                    <div class="tac menwomen" onclick="openmen()">
                        <div class="f14 f2 fb">MEN</div>
                        <div class="f10 o5 fb f2">4 PRODUCTS</div>
                    </div>
                </div>
                <div class="btwo">
                    <img style="width: 100%; margin-bottom: -4px" onclick="openwomen()" src="Photo/women.jpg" alt="WOMEN">
                    <div class="tac menwomen" onclick="openwomen()">
                        <div class="f14 f2 fb">WOMEN</div>
                        <div class="f10 o5 fb f2">4 PRODUCTS</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">
                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY BLAZER</li></a>
                        <li> <a class="hover o7" href="women">WOMEN</li></a>
                        <li> <a class="hover o7" href="men">MEN</li></a>
                        <li> <a class="hover o7" href="about">ABOUT</li></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
<script src="JavaScript/script.js"></script>
</html>