<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">
    <title>P Shopping Point Men</title>
</head>
<body>
    <header> 
        <nav class="flex jcb">
            <ul class="navbar first">
                <li class="li"><a href="buyblazer">BUY BLAZER</a></li>
                <li class="li"><a href="women">WOMEN</a></li>
                <b><li class="li"><a href="men">MEN</a></li></b>
                <li class="li"><a href="about">ABOUT</a></li>
                <li class="li"><a href="contact">CONTACT</a></li>
            </ul>
            <ul class="navbar center_logo"><a href="/"><img class="logo" src="https://i.imgur.com/aiWlS3g.png alt="P SHOPPING POINT" srcset=""></a></ul>
            <ul class="navbar second">
                <% if(locals.profile) { %>
                <li class="li"><b>
                    <% if(locals.file == "") { %>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                    <%} else {%>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                    <%} %>
                </b></li>
                <li class="li"><b><a href="cart">$<%= locals.ct %>.00 
                    <% if(locals.cc > 0) {%>
                        <b class="cc"><%= locals.cc %></b>
                    <%}%>
                </a></b></li>
                <% } else { %>
                    <li class="li"><b></b></li>
                    <li class="li"><b></b></li>
                <% } %>
                <% if( locals.action == "LOG IN" ){ %>
                <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                <% } else { %>
                <li class="li"><b>
                    <form method="post" action="/logout">
                        <button type="submit" class="logout"><%= locals.action %></button>
                    </form>
                </b></li>
                <% } %>
            </ul>
        </nav>
        <nav class="snavbar">
            <ul class="center_logo"><a href="/"><img class="logo" src="https://i.imgur.com/aiWlS3g.png alt="P SHOPPING POINT" srcset=""></a></ul>
            <img id="menu" onclick="open_nav()" src="svg/menu-outline.svg" alt="MENU">
            <img id="close" onclick="close_nav()" src="svg/close-outline.svg" alt="CLOSE">
            <div id="fullnav">
                <ul class="fullnav_inside flex jcc f-c">
                    <li><a href="buyblazer">BUY BLAZER</a></li> <hr>
                    <li><a href="women">WOMEN</a></li> <hr>
                    <b><li><a href="men">MEN</a></li> <hr></b>
                    <li><a href="about">ABOUT</a></li> <hr>
                    <li><a href="contact">CONTACT</a></li> <hr>
                    <% if(locals.profile) { %>
                    <li class="li"><b>
                        <% if(locals.file == "") { %>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                        <%} else {%>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                        <%} %>
                    </b></li><hr>
                    <li class="li"><b><a href="cart">$<%= locals.ct %>.00 
                        <% if(locals.cc > 0) {%>
                            <b class="cc"><%= locals.cc %></b>
                        <%}%>
                    </a></b></li>
                    <hr>
                    <% }  %>
                    <% if( locals.action == "LOG IN" ){ %>
                    <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                    <% } else { %>
                    <li class="li"><b>
                        <form method="post" action="/logout">
                            <button type="submit" class="logout"><%= locals.action %></button>
                        </form>
                    </b></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <hr class="o5">
    <main>
        <div class="flex jcc">
            <div class="textaline flex aic jcc f-c" style="margin-top: 50px;">
                <span class="big f3 Ftext">MEN</span>
                <span class="small f2">Showing all 4 results</span>
            </div>
        </div>
        <div class="flex aic f-c">
            <div class="flex mtb50 jcb product_class" style="width: 95%;">
                <div class="wm24">
                    <div class="befor-hover">
                        <a href="product" onclick="product_show(0)">
                            <img class="aimg" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/7zPfooP.jpg" alt="IMG">
                            <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/BXJIAch.jpg" alt="IMG">   
                        </a>
                    </div>
                    <div class="ml30">
                        <div class="smalle f1 o7">MEN</div>
                        <div class="bige f2" onclick="product_show(0)"><a href="product">Formal Blazer</a></div>
                        <div class="prize_font f2">$33.00</div>
                    </div>
                </div>
                <div class="wm24">
                    <div class="befor-hover">
                        <a href="product" onclick="product_show(1)">
                            <img class="aimg" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/V4raCMv.jpg" alt="IMG">
                            <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/6iHxWOI.jpg" alt="IMG">   
                        </a>
                    </div>
                    <div class="ml30">
                        <div class="smalle f1 o7">MEN</div>
                        <div class="bige f2" onclick="product_show(1)"><a href="product">Formal Blazer</a></div>
                        <div class="prize_font f2">$45.00</div>
                    </div>
                </div>
                <div class="iv700 wm24">
                    <div class="befor-hover">
                        <a href="product" onclick="product_show(2)">
                            <img class="aimg" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/AvBLsSQ.jpg" alt="IMG">
                            <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/RiR4AbX.jpg" alt="IMG">   
                        </a>
                    </div>
                    <div class="ml30">
                        <div class="smalle f1 o7">MEN</div>
                        <div class="bige f2" onclick="product_show(2)"><a href="product">Formal Blazer</a></div>
                        <div class="prize_font f2">$40.00</div>
                    </div>
                </div>
                <div class="iv700 wm24">
                    <div class="befor-hover">
                        <a href="product" onclick="product_show(3)">
                            <img class="aimg" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/bF07KdC.jpg" alt="IMG">
                            <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/X09Wazb.jpg" alt="IMG">   
                        </a>
                    </div>
                    <div class="ml30">
                        <div class="smalle f1 o7">MEN</div>
                        <div class="bige f2" onclick="product_show(3)"><a href="product">Formal Blazer</a></div>
                        <div class="prize_font f2">$34.00</div>
                    </div>
                </div>
            </div>
            <div class="mtb50 jcb product_class v700" style="width: 95%;">
                <div class="wm24">
                    <div class="befor-hover">
                        <a href="product" onclick="product_show(2)">
                            <img class="aimg" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/AvBLsSQ.jpg" alt="IMG">
                            <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/RiR4AbX.jpg" alt="IMG">   
                        </a>
                    </div>
                    <div class="ml30">
                        <div class="smalle f1 o7">MEN</div>
                        <div class="bige f2" onclick="product_show(2)"><a href="product">Formal Blazer</a></div>
                        <div class="prize_font f2">$40.00</div>
                    </div>
                </div>
                <div class="wm24">
                    <div class="befor-hover">
                        <a href="product" onclick="product_show(3)">
                            <img class="aimg" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/bF07KdC.jpg" alt="IMG">
                            <img class="aimg show-oh-hover" style="margin: 0px 0px -4px 0px;" src="https://i.imgur.com/X09Wazb.jpg" alt="IMG">   
                        </a>
                    </div>
                    <div class="ml30">
                        <div class="smalle f1 o7">MEN</div>
                        <div class="bige f2" onclick="product_show(3)"><a href="product">Formal Blazer</a></div>
                        <div class="prize_font f2">$34.00</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">
                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY BLAZER</li></a>
                        <li> <a class="hover o7" href="woman-1.jpg">WOMEN</li></a>
                        <li> <b><a class="hover o7" href="men">MEN</li></b></a>
                        <li> <a class="hover o7" href="about">ABOUT</li></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
<script src="./JavaScript/men.js"></script>
</html>