<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://i.imgur.com/MYHCzRe.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/style.css">
    <link rel="stylesheet" href="Style/utils.css">    
    <link rel="stylesheet" href="Style/placedOrder.css">    
    <title>Document</title>
</head>
<body>
    <header style="margin-bottom: 50px;" class="mb20"> 
        <nav class="flex jcb">
            <ul class="navbar first">
                <li class="li"><a href="buyblazer">BUY BLAZER</a></li>
                <li class="li"><a href="women">WOMEN</a></li>
                <li class="li"><a href="men">MEN</a></li>
                <li class="li"><a href="about">ABOUT</a></li>
                <li class="li"><a href="contact">CONTACT</a></li>
            </ul>
            <ul class="navbar center_logo"><a href="/"><img class="logo" src="https://i.imgur.com/aiWlS3g.png alt="P SHOPPING POINT" srcset=""></a></ul>
            <ul class="navbar second">
                <% if(locals.profile) { %>
                <li class="li"><b>
                    <% if(locals.file == "") { %>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                    <%} else {%>
                        <img style="width: 34px; height: 34px; margin-top: 5px; border-radius: 999px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                    <%} %>
                </b></li>
                <li class="li"><b><a href="cart">$<%= locals.ct %>.00 
                    <% if(locals.cc > 0) {%>
                        <b class="cc"><%= locals.cc %></b>
                    <%}%>
                </a></b></li>
                <% } else { %>
                    <li class="li"><b></b></li>
                    <li class="li"><b></b></li>
                <% } %>
                <% if( locals.action == "LOG IN" ){ %>
                <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                <% } else { %>
                <li class="li"><b>
                    <form method="post" action="/logout">
                        <button type="submit" class="logout"><%= locals.action %></button>
                    </form>
                </b></li>
                <% } %>
            </ul>
        </nav>
        <nav class="snavbar">
            <ul class="center_logo"><a href="/"><img class="logo" src="https://i.imgur.com/aiWlS3g.png alt="P SHOPPING POINT" srcset=""></a></ul>
            <img id="menu" onclick="open_nav()" src="svg/menu-outline.svg" alt="MENU">
            <img id="close" onclick="close_nav()" src="svg/close-outline.svg" alt="CLOSE">
            <div id="fullnav">
                <ul class="fullnav_inside flex jcc f-c">
                    <li><a href="buyblazer">BUY BLAZER</a></li><hr>
                    <li><a href="women">WOMEN</a></li><hr>
                    <li><a href="men">MEN</a></li><hr>
                    <li><a href="about">ABOUT</a></li><hr>
                    <li><a href="contact">CONTACT</a></li><hr>
                    <% if(locals.profile) { %>
                    <li class="li"><b>
                        <% if(locals.file == "") { %>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="svg/profile-circle-svgrepo-com.svg" alt="Profile">
                        <%} else {%>
                            <img style="width: 34px; height: 34px; margin-top: 5px;" onclick="window.open('/profile', '_self')" src="Uploads/<%= locals.file %>" alt="Profile">
                        <%} %>
                    </b></li><hr>
                    <li class="li"><b><a href="cart">$<%= locals.ct %>.00 
                        <% if(locals.cc > 0) {%>
                            <b class="cc"><%= locals.cc %></b>
                        <%}%>
                    </a></b></li>
                    <hr>
                    <% }  %>
                    <% if( locals.action == "LOG IN" ){ %>
                    <li class="li"><b><a class="link" href="login"><%= locals.action %></a></b></li>
                    <% } else { %>
                    <li class="li"><b>
                        <form method="post" action="/logout">
                            <button type="submit" class="logout"><%= locals.action %></button>
                        </form>
                    </b></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <hr class="o5">
    </header> 

    <main >
        <% if(locals.placedItam.length==0){ %>
            <div class="f2" style="text-align: center;font-size: 20px;font-weight: bold;margin-bottom: 50px;">Please complete your order : )</div>
        <%}else{%>
        <% for(let j=locals.placedItam.length-1;j>=0;j--){ %>
        <div style="margin: 10px 0;">
            <div class="slip f2">
                <div class="both">
                    <div class="lft flex f-c">
                        <div><b><%=locals.placedItam[j]._id %></b></div>
                        <div><b>Date and Time :</b> <%=locals.placedItam[j].date.getDate()%>-<%=(locals.placedItam[j].date.getMonth() + 1) %>-<%=locals.placedItam[j].date.getFullYear()%>  <%=locals.placedItam[j].date.getHours() %>:<%=locals.placedItam[j].date.getMinutes()%>:<%=locals.placedItam[j].date.getSeconds()%></div>
                        <div><b>Receiver details:</b></div>
                        <li><span class="bb">Name: </span><%=locals.placedItam[j].fname %>  <%=locals.placedItam[j].lname %></li>
                        <li><span class="bb">Address: </span><%=locals.placedItam[j].address %>, <%=locals.placedItam[j].city %>, <%=locals.placedItam[j].state %>, <%=locals.placedItam[j].country %> - <%=locals.placedItam[j].zip %>.</li>
                        <div><b>Contact Detail: </b></div>
                        <li><span class="bb">Phone No.: </span><%= locals.placedItam[j].phone %></li>
                        <li><span class="bb">Email id: </span><%= locals.placedItam[j].email %></li>
                    </div>
                    <div class="rit">
                        <table>
                            <thead>
                                <th>Product category</th>
                                <th>Quantity</th>
                                <th class="no-right">Sub-Total</th>
                            </thead>
                            <tbody>
                                <% let total =0;%>
                                <% for(let i=0;i<locals.placedItam[j].product.length;i++){ %>
                                    <tr>
                                        <td>
                                            <% if(placedItam[j].product[i].gender) {%>
                                                Men
                                            <% } else { %>
                                                Women
                                            <%}%>   
                                        </td>
                                        <td><%= placedItam[j].product[i].quantity %></td>
                                        <td class="no-right"><%= placedItam[j].product[i].quantity * placedItam[j].product[i].prize %></td>
                                        <% total +=(placedItam[j].product[i].quantity * placedItam[j].product[i].prize) %>
                                    </tr>
                                <%}%>
                                <tr>
                                    <td colspan="2" class="no-bottom">Paid Amount</td>
                                    <td class="no-right no-bottom"><b><%= total %></b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="flex aic jcc">
                    <form action="pdf" method="post">
                        <button class="bill_btn" name="itam" value="<%= placedItam[j]._id %>">Show bill</button>
                    </form>
                </div>
            </div>
        </div>
        <%}%>
        <%}%>
    </main>

    <footer>
        <div class="flex aic jcc">
            <div class="startf flex aic jcc f-c">
                <div style="text-align: center;">

                    <span class="f3 bige" >Subscribe To Get Offers In Your Inbox</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enter your registered email and get upto <b>75%</b> discount.</span><br>
                    <span class="f3 o7" style="font-size: 15px;" >Enjoy your shopping with us.</span>
                </div>
                <div id="Subscribe">
                    <input style="width: 460px; padding: 7px; margin-right: 5px;" class="f2" type="text" placeholder="Your email address...">
                    <button class="Shop_Collection_btn " style="padding: 10.3px 28px !important;">Subscribe</button>
                </div>
                <div>
                    <ul class="flex jcb f2 fnav" style="margin: 5px 0px 35px 0px;">
                        <li> <a class="hover o7" href="buyblazer">BUY BLAZER</li></a>
                        <li> <a class="hover o7" href="women">WOMEN</li></a>
                        <li> <a class="hover o7" href="men">MEN</li></a>
                        <li> <a class="hover o7" href="about">ABOUT</li></a>
                        <li> <a class="hover o7" href="contact">CONTACT</a></li>
                    </ul> 
                </div>
                <div class="flex aic jcc">
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/facebook-176-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/twitter-154-svgrepo-com.svg" alt="Mail">
                    </div>
                    <div>
                        <img class="svgsm" onclick="window.open('/', '_self')" src="svg/instagram-167-svgrepo-com.svg" alt="Mail">
                    </div>
                </div>
            </div>
        </div>
        <div class="endf f2" style="text-align: center;">
            Copyright &copy; 2023 P_Shopping_Point | Powered by P Shopping Store
        </div>
    </footer>
</body>
<script src="JavaScript/script.js"></script>
</html>